.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.tabbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.tabbarItem {
  flex: 1;
  text-align: center;

  padding: 10px;
  padding: 10px;

  cursor: pointer;
  transition: all 0.2s;

  border: 0 !important;
  border-radius: 0% !important;
  border-bottom: 2px solid transparent !important;
}

.tabbarItem:hover {
  background-color: #ccc;
}

.tabbarItem.selected {
  border-bottom: 2px solid #2680c0 !important;
}

.content {
  flex: 1;
  position: relative;
  overflow: auto;
}
