.container {
  margin: 5px;
}

.container input {
  width: 194px;
  border: 1px solid #666;
  background: #444;
  color: #eee;
  border-radius: 3px;
  padding: 3px;
  font-family: 'Fira Mono';
  text-align: center;
  font-size: 1.2em;
}
