.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* width: 100%; */
}

.tabbar {
  display: flex;
  flex-direction: row;
}

.tabbarItem {
  flex: 1;
  text-align: center;

  padding: 10px;
  padding: 10px;

  cursor: pointer;
  transition: all 0.2s;
}

.tabbarItem:hover {
  background-color: #ccc;
}

.tabbarItem.selected {
  font-weight: 700;
}

.content {
  flex: 1;
  position: relative;
}
