.header {
  display: flex;
}

.header input {
  border: 1px solid #444;
  font-size: 0.8em;
  width: 100%;
  flex-grow: 1;
  margin-right: 5px;
  padding: 5px;
  margin-bottom: 0;
}

.header.compact input {
  padding: 1px;
}

.header input:hover {
  border: 1px solid #666;
  background-color: #4a4a4a;
}

.removeButton {
  height: 30px;
  flex: 0 0 30px;
  padding: 0;
  line-height: 32px;
}

.compact .removeButton {
  height: 22px;
  flex: 0 0 22px;
  line-height: 20px;
}

.expandButton {
  height: 30px;
  flex: 0 0 30px;
  padding: 0;
  line-height: 32px;
  border: none;
  background-color: transparent !important;
  width: 20px;
  margin-right: 5px;
}

.compact .expandButton {
  height: 20px;
  flex: 0 0 20px;
  line-height: 25px;
}
