.color {
  margin-bottom: 5px;
  width: calc(100%);
  margin-top: 20px;
}

.divider {
  height: 1px;
  background: #666;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 5px;
}
