.color {
  margin-bottom: 5px;
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.divider {
  height: 1px;
  background: #666;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 5px;
}
