.row {
  display: flex;
  flex-direction: row;
}

.label {
  flex: 0 0 50px;
  color: #eee;
  line-height: 28px;
  height: 20px;
  font-size: 0.7em;
  text-align: right;
  margin-right: 10px;
  font-family: 'Fira Mono';
}

.inputContainer {
  position: relative;
  min-width: 0;
  flex-basis: 100%;
  margin-bottom: 2px;
  height: 20px;
}

.input {
  width: calc(100% - 8px);
  font-family: 'Fira Mono';
  text-align: right;
  height: 12px;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 0.7em;
  touch-action: none;
}

.input.invalid {
  background: #5d5100 !important;
}

.warningIcon {
  position: absolute;
  pointer-events: none;
  top: 7px;
  left: 4px;
  color: #ffed73;
  opacity: 0;
  transition: all 0.1s;
}

.warningIcon.invalid {
  opacity: 1;
}
