.palette {
  background-color: #444;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
