.palette {
  background-color: #444;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 5px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
