.container {
  position: relative;
  display: flex;
}
.container input {
  border: 1px solid #666;
  background: #444;
  color: #eee;
  border-radius: 3px;
  padding: 3px;
  font-family: 'Fira Mono';
  text-align: center;
  font-size: 1.2em;
  flex: 1;
  transition: all 0.1s;
}

.container input.invalid {
  background: #5d5100 !important;
}

.warningIcon {
  position: absolute;
  right: 10px;
  top: 3px;
  color: #ffed73;
  opacity: 0;
  transition: all 0.1s;
}

.warningIcon.invalid {
  opacity: 1;
}
