.row {
  position: relative;
  display: flex;
  flex-direction: row;
}

.label {
  flex: 1;
  color: #eee;
  line-height: 20px;
  font-size: 0.7em;
  text-align: right;
  margin-right: 10px;
  font-family: 'Fira Mono';
}

.input {
  font-family: 'Fira Mono';
  text-align: right;
  width: 80px;
  height: 12px;
  border-radius: 0;
  font-size: 0.7em;
  margin-bottom: 2px;
}

.input.invalid {
  background: #5d5100 !important;
}

.warningIcon {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #ffed73;
  opacity: 0;
  transition: all 0.1s;
}

.warningIcon.invalid {
  opacity: 1;
}
