.row {
  position: relative;
  display: flex;
  flex-direction: row;
}

.label {
  width: 100px;

  color: #eee;
  line-height: 26px;
  font-size: 0.8em;
  text-align: right;
  margin-right: 10px;
}

.input {
  font-family: 'Fira Mono';
  text-align: center;
  width: 192px;

  border-radius: 0;
  font-size: 0.8em;
}

.input.invalid {
  background: #5d5100 !important;
}

.warningIcon {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #ffed73;
  opacity: 0;
  transition: all 0.1s;
}

.warningIcon.invalid {
  opacity: 1;
}
