.labels {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

.label {
  flex: 1;

  font-size: 0.8em;
  color: #444;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spacer {
  width: 110px;
}
