body {
  margin: 0;
  font-family: 'Quicksand';
}

button,
input {
  font-family: 'Quicksand';
}

input {
  border: 1px solid #666;
  background-color: #444;
  color: #eee;
  border-radius: 3px;
  padding: 3px;
  font-size: 1.2em;
  margin-bottom: 10px;
  transition: all 0.2s;
}

input:hover {
  background-color: #4a4a4a;
}

button {
  color: #eee;
  background: none;
  background-color: #444;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #222;
}
